<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-repeat="header in Headers">
                    <sort-by onsort="onSort" sortdir="FilterCriteria.sortDir" sortedby="FilterCriteria.Sorting" sortvalue="{{ header.Value }}">{{ header.Title }}</sort-by>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#</td>
                <td><input data-on-enter-blur data-on-blur-change="FilterResult()" ng-model="FilterCriteria.FilterFirstName" type="text" class="form-control" /></td>
                <td><input data-on-enter-blur data-on-blur-change="FilterResult()" ng-model="FilterCriteria.FilterLastName" type="text" class="form-control" /></td>
                <td><input data-on-enter-blur data-on-blur-change="FilterResult()" ng-model="FilterCriteria.FilterAge" type="text" class="form-control" /></td>
                <!--<td>
                        <select ng-change="filterResult()" ng-model="filterCriteria.FilterSector" ng-options="sector.Omschrijving as sector.Omschrijving for sector in sectoren | orderBy:'Omschrijving'" class="form-control">
                            <option value=""> </option>
                        </select>
                    </td>-->
                <td></td>
            </tr>
            <tr ng-repeat="person in Persons">
                <td><a ng-click="open(person)">{{person.Id}}</a></td>
                <td>{{person.FirstName}}</td>
                <td>{{person.LastName}}</td>
                <td>{{person.Age}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs" ng-click="open(person)"><i class="glyphicon glyphicon-pencil"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="TotalItems == 0">
        <h3>No persons found...</h3>
    </div>

</div>
    <div class="row">

    <div class="col-xs-12 col-md-10">
        <pagination boundary-links="true" ng-show="TotalItems > FilterCriteria.PageSize" max-size="15" rotate="false"
                    previous-text=" &lsaquo;" next-text="&rsaquo;" items-per-page="FilterCriteria.PageSize"
                    first-text="&laquo;" last-text="&raquo;"
                    total-items="totalItems" ng-model="FilterCriteria.Page" ng-change="FetchResult()"></pagination>
    </div>

    <div class="col-xs-12 col-md-2">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-list"></i>
            </span>
            <select ng-model="FilterCriteria.PageSize" class="form-control" ng-change="FetchResult()"
                    ng-options="t for t in AvailablePageSizes">
                <option>--</option>
            </select>
        </div>


    </div>

</div>